---
import MainLayout from "../layouts/MainLayout.astro";
import ScrollingContainer from "../components/ScrollingContainer.astro";
import PillHeading from "../components/PillHeading.astro";
import HeaderSection from "../components/HeaderSection.astro";
import WhatToSectionSection from "../components/WhatToSection.astro";
import StrategySection from "../components/StrategySection.astro";
import ContactSection from "../components/ContactSection.astro";
import FaqSection from "../components/FaqSection.astro";
---

<MainLayout title="Service">
  <figure class="full"><img src="../images/aboutone.jpg" alt="" /></figure>
  <div class="head-container">
    <PillHeading title="service single" />
    <p>Service Details</p>
  </div>
  <div class="container">
    <HeaderSection />
  </div>
  <div class="scroll">
    <ScrollingContainer />
  </div>
  <WhatToSectionSection />
  <StrategySection />
  <ContactSection />
  <FaqSection />
</MainLayout>

<style>
  .container {
    grid-column: feature;
  }

  .scroll {
    grid-column: feature/-1;
  }

  .full {
    grid-column: full;
  }

  .head-container {
    grid-column: feature;
    margin-top: max(-35%, 50% - 80%);
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    padding: max(3rem);

    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 1.8125rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5.5px);
    p {
      color: var(--primary03);
      font-size: var(--heading01);
      font-family: cabin;
      font-style: normal;
      font-weight: var(--thick);
      line-height: var(--heading-large-line-heigh);
    }
  }

  @media screen and (max-width: 700px) {
    img {
      display: none;
    }
    .head-container {
      background: none;
      grid-column: feature;
      margin-top: 0;
      padding: 0;
      padding-top: 2rem;
    }
  }
</style>
