---
const { title, body, toggleId } = Astro.props;
---

<div class="faq-item">
  <input type="checkbox" class="faq-toggle" id={toggleId} />
  <label class="faq-question" for={toggleId}></label>
  <div class="faq-answer">
    <p>{body}</p>
  </div>
</div>

<style>
  section {
    grid-column: feature;
  }
  .faq-item {
    margin-bottom: 20px;
  }
  .faq-question {
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }
  .faq-answer {
    display: none;
    margin-top: 10px;
  }
  .faq-answer p {
    margin: 0;
  }
  /* Styling for checkbox */
  .faq-toggle {
    display: none;
  }
  .faq-toggle + label {
    cursor: pointer;
  }
  .faq-toggle + label:after {
    content: "+";
    padding-right: 5px;
  }
  .faq-toggle:checked + label:after {
    content: "-";
  }
  .faq-toggle:checked ~ .faq-answer {
    display: block;
  }

  .faq-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
</style>
