<header>
  <ul>
    <li><a href="/#">About</a></li>
    <li><a href="/casestudy">Case Study</a></li>
    <li><a href="/service">Service</a></li>
    <li><a href="/team">Team</a></li>
  </ul>
</header>

<style>
  header {
    background: var(--placeholder);
    height: 10svh;

    ul {
      list-style: none;
      margin-top: 0;
      display: flex;
      gap: 1em;
    }

    li {
      padding: 1rem;
    }

    a {
      color: var(--secondary02);
      text-decoration: none;
    }
  }
</style>
