<header>
  <div>
    <figure class="large-icon">
      <img src="../icons/graphcolor.svg" alt="" />
    </figure>
    <p class="medium-size">Financial Projections</p>
    <p class="small-size">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
  <div class="backforth">
    <img class="bficon" src="../icons/backArrow.svg" alt="" />
    <img class="bficon" src="../icons/forwardarrow.svg" alt="" />
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block-start: 4rem;

    .large-icon {
      width: 6.58675rem;
      height: 4.44144rem;
    }

    .backforth {
      display: flex;
      align-items: flex-end;
      gap: 1.625rem;
      margin-top: 2rem;
      margin-bottom: -2rem;

      .bficon {
        max-width: 4.34594rem;
        max-height: 4.34594rem;
      }
    }
  }
</style>
