---
import ButtonDefault from "./ButtonDefault.astro";
---

<header>
  <div>
    <p class="medium-size">Meet Our Great Team</p>
    <p class="small-size">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam,
      quis nostrud exercitation.
    </p>
  </div>
  <ButtonDefault title="Join our team" />
</header>

<style>
  header {
    grid-column: feature;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block-start: 4rem;
    margin-bottom: 1rem;
  }

  p:nth-last-of-type(1) {
    margin-bottom: 2rem;
  }
</style>
