<div>
  <p>Read More</p>
  <img src="../icons/arrow.svg" alt="" />
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;

    img {
      width: 0.8rem;
    }

    p {
      font-family: "lato";
      font-size: var(--heading06);
      color: var(--primary03);
      font-weight: var(--normal);
    }
  }
</style>
