<div class="container">
  <section class="full">
    <ul role="list">
      <li>
        <figure class="card-heading">
          <img class="small-icon" src="../icons/blanceSheet.svg" alt="" />
          <p class="normal-size">The Balance Sheet</p>
        </figure>
        <p class="small-size">
          The Balance Sheet is a summary of the assets and liabilities and
          equity of a business at a specific point of time.
        </p>
      </li>

      <li>
        <figure class="card-heading">
          <img class="small-icon" src="../icons/incomeStatement.svg" alt="" />
          <p class="normal-size">Income Statement</p>
        </figure>
        <p class="small-size">
          The Income (Profit and Loss) Statement, commonly referred to as the
          P&L statement, summarizes the revenue and expenses for a specific time
          period (one month, one quarter, one year, etc.)
        </p>
      </li>

      <li>
        <figure class="card-heading">
          <img class="small-icon" src="../icons/financialPlan.svg" alt="" />
          <p class="normal-size">Financial Plan</p>
        </figure>
        <p class="small-size">
          Keep your information current and review the documents on a regular
          basis (monthly or more often if needed). Review them with key
          individuals within your company.
        </p>
      </li>

      <li>
        <figure class="card-heading">
          <img class="small-icon" src="../icons/financialRatios.svg" alt="" />
          <p class="normal-size">Financial Ratios</p>
        </figure>
        <p class="small-size">
          Ratios are useful when comparing your company with the competition on
          financial performance and also when benchmarking the performance of
          your company.
        </p>
      </li>
    </ul>
  </section>
</div>

<style>
  .container {
    padding-block: 4rem;
    display: grid;
    grid:
      auto /
      [full-start]
      1fr
      [content]
      minmax(0, var(--content-width))
      1fr
      [full-end];
    column-gap: 1rem;

    > * {
      grid-column: 2;
    }

    .full {
      grid-column: 1 / -1;
      display: grid;
      grid: auto / subgrid;
      row-gap: 3rem;

      > * {
        grid-column: 2;
      }

      > ul {
        scroll-snap-type: x mandatory;
        grid-column: 1 / -1;
        padding-block-end: 1rem;

        li {
          scroll-snap-align: center;
        }
      }
    }

    .small-icon {
      width: 2.125rem;
      height: 1.625rem;
    }

    .card-heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }

  ul {
    display: flex;
    gap: 1rem;
    overflow-x: auto;

    li {
      flex-basis: min(350px, 90%);
      flex-shrink: 0;
      background: #ebebeb;
      border-radius: 8px;
      padding: 2.75rem 2.1875rem;
      align-self: start;
    }

    li:nth-of-type(2) {
      background: var(--primary03);

      p {
        color: var(--secondary02);
      }
    }
  }
</style>
