<div class="socials">
  <img class="small-icon" src="../icons/instagram.svg" alt="" />
  <img class="small-icon" src="../icons/facebook.svg" alt="" />
  <img class="small-icon" src="../icons/twitter.svg" alt="" />
</div>

<style>
  .socials {
    grid-column: feature;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;

    .small-icon {
      width: 2.125rem;
      height: 1.625rem;
    }
  }
</style>
