---
import PillHeading from "./PillHeading.astro";
---

<section>
  <div class="strategy-section">
    <PillHeading
      textColor="#FFFFFF"
      backgroundColor="#4EAF4E"
      title="our history"
    />
    <p class="medium-size">Better Website Means A User Experience</p>
    <p class="small-size">
      Ippsum is the result of synergy between our teams and our customers. Our
      company culture is focused on excellent productivity, customer
      satisfaction, respect for team and individual achievements.
    </p>
    <div class="strategy-img">
      <img class="strategy-img" src="../images/valueone.jpg" alt="" />
      <img class="stars" src="../images/smallStars.svg" alt="" />
      <img class="play" src="../icons/play_button.svg" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    grid-column: feature;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
    padding: 3rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .strategy-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:;
      max-width: 45rem;
    }
    .medium-size {
      max-width: 20ch;
      line-height: 1.5;
    }

    .small-size {
      max-width: 90ch;
      padding: 0.3rem 0rem 3rem 0rem;
    }
  }

  .strategy-img {
    position: relative;
    .stars {
      position: absolute;
      width: 12rem;
      height: 12rem;
      right: -3rem;
      top: -2.5rem;
      z-index: -2;
    }

    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      bottom: -2rem;
      border-radius: 1.25rem;
      background: var(--primary02);
      width: 6.75rem;
      height: 7.5625rem;
      transform: rotate(-90deg);
      flex-shrink: 0;
      z-index: -1;
    }
    .play {
      max-width: 15%;
      position: absolute;
      right: 40%;
      bottom: 30%;
    }

    .strategy-img {
      border-radius: 1.75rem;
      filter: brightness(80%);
    }
  }
</style>
